.col-lg-4 {
  padding-top: 20px!important;
}
.col-lg-4 .col-lg-6 {
  padding-right: 5px!important;
  padding-left: 5px!important;
}

.cursor{
  cursor:pointer;
}
.card-category:hover{
  color: rgb(240, 185, 11);
}
.price{
  text-align: left;
  color: #02c076;
}
.m-l {
  padding-left: 1rem;
}
